<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LiteyukiBot v6 LTS Status</title>
    <link rel="stylesheet" href="./css/card.css">
    <link rel="stylesheet" href="./css/status.css">
    <link rel="stylesheet" href="./css/fonts.css">
</head>

<body>
    <template id="bot-template">
        <article class="info-box bot-info">
            <div class="bot-icon">
                <img class="bot-icon-img" src="" alt="bot-icon">
            </div>
            <div class="bot-detail">
                <div class="bot-name">LiteyukiBot v6 LTS</div>
                <div class="bot-divider"></div>
                <div class="bot-tags"></div>
            </div>
        </article>
    </template>

    <template id="device-info">
        <article class="device-info">
            <div class="device-chart">
                <div class="device-chart-content">
                    <div class="device-chart-value"></div>
                    <div class="device-chart-label"></div>
                </div>
            </div>
            <div class="device-tags"></div>
        </article>
    </template>

    <div class="data-storage" id="data">{{ data | tojson }}</div>
    <section class="info-box" id="hardware-info"></section>
    <section class="info-box" id="disk-info"></section>
    <section class="info-box" id="motto-info">
        <div id="motto-text"></div>
        <div id="motto-from"></div>
    </section>
    <section class="info-box" id="addition-info"></section>
    <script src="./js/card.js"></script>
    <script src="./js/status.js"></script>
</body>

</html>
