<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liteyuki Weather</title>
    <link rel="stylesheet" href="./css/card.css">
    <link rel="stylesheet" href="./css/fonts.css">
    <link rel="stylesheet" href="./css/weather_now.css">
</head>

<body>
    <template id="hourly-item-template">
        <article class="hourly-item">
            <div class="hourly-time">02:00</div>
            <img class="hourly-icon icon" src="./img/qw_icon/101.png" alt="WeatherIcon">
            <div class="hourly-temperature">20°</div>
        </article>
    </template>

    <template id="daily-item-template">
        <article class="daily-item">
            <div class="daily-day">今天</div>
            <div class="daily-weather">晴</div>
            <div class="daily-icons">
                <img class="daily-icon icon-day icon" src="./img/qw_icon/101.png" alt="DayWeatherIcon">
                <img class="daily-icon icon-night icon" src="./img/qw_icon/101.png" alt="NightWeatherIcon">
            </div>
            <div class="daily-temperature">12°~23°</div>
        </article>
    </template>

    <template id="sub-info-template">
        <div class="sub-item">
            <span class="sub-icon-wrap">
                <img class="sub-svg" src="" alt="WeatherDetailIcon">
            </span>
            <div>示例信息</div>
        </div>
    </template>

    <div class="data-storage" id="data">{{ data | tojson }}</div>
    <section class="info-box" id="weather-info">
        <div id="detail-info">
            <div id="adm"></div>
            <div id="time"></div>
        </div>
        <div id="city"></div>
        <div id="main-info">
            <div id="main-left">
                <img class="main-icon icon" src="./img/qw_icon/101.png" alt="WeatherIcon">
            </div>
            <div id="main-right">
                <div id="temperature">
                    <div id="temperature-now"></div>
                    <div id="temperature-range"></div>
                </div>
                <div id="description"></div>
            </div>
        </div>
        <div id="aqi">
            <div id="aqi-dot"></div>
            <div id="aqi-data"></div>
        </div>
    </section>
    <section class="info-box" id="sub-info"></section>
    <section class="info-box" id="hours-info"></section>
    <section class="info-box" id="days-info"></section>

    <div class="ad-box" hidden><img id="ad" src="" alt="Weather advertisement"></div>
    <footer class="attribution-box">
        <div id="attribution-info"></div>
    </footer>

    <script src="./js/card.js"></script>
    <script src="./js/weather_now.js"></script>
</body>

</html>
