<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liteyuki Message Statistics</title>
    <link rel="stylesheet" href="./css/card.css">
    <link rel="stylesheet" href="./css/fonts.css">
    <link rel="stylesheet" href="./css/stat_msg.css">
</head>

<body>
    <template id="sign-chart-template">
        <article class="info-box sign-chart">
            <header class="chart-header">
                <div class="chart-title"></div>
                <div class="chart-total"></div>
            </header>
            <div class="chart-stage"></div>
        </article>
    </template>

    <div class="data-storage" id="data">{{ data | tojson }}</div>
    <main id="charts"></main>
    <script src="./js/card.js"></script>
    <script src="./js/stat_msg.js"></script>
</body>

</html>
